In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
data = pd.read_csv("temp.csv",sep="\t")

In [18]:
data

            Date      Time  Temperature
0     28-03-2017  20:28:00           32
1     28-03-2017  20:28:00           32
2     28-03-2017  20:28:00           32
3     28-03-2017  20:28:00           32
4     28-03-2017  20:28:00           32
5     28-03-2017  20:28:00           32
6     28-03-2017  20:28:00           32
7     28-03-2017  20:28:00           32
8     28-03-2017  20:28:00           32
9     28-03-2017  20:28:00           32
10    28-03-2017  20:28:00           32
11    28-03-2017  20:28:00           32
12    28-03-2017  20:28:00           32
13    28-03-2017  20:28:00           32
14    28-03-2017  20:28:00           32
15    28-03-2017  20:28:00           32
16    28-03-2017  20:28:00           32
17    28-03-2017  20:28:00           32
18    28-03-2017  20:28:00           32
19    28-03-2017  20:28:00           32
20    28-03-2017  20:28:00           32
21    28-03-2017  20:28:00           32
22    28-03-2017  20:28:00           32
23    28-03-2017  20:28:00           32
24    28-03-2017  20:28:00           31
25    28-03-2017  20:28:00           31
26    28-03-2017  20:28:00           31
27    28-03-2017  20:28:00           31
28    28-03-2017  20:28:00           32
29    28-03-2017  20:28:00           31
...          ...       ...          ...
3583  28-03-2017  21:27:00           30
3584  28-03-2017  21:27:00           30
3585  28-03-2017  21:27:00           30
3586  28-03-2017  21:27:00           30
3587  28-03-2017  21:27:00           30
3588  28-03-2017  21:27:00           30
3589  28-03-2017  21:27:00           30
3590  28-03-2017  21:27:00           30
3591  28-03-2017  21:27:00           30
3592  28-03-2017  21:27:00           30
3593  28-03-2017  21:27:00           30
3594  28-03-2017  21:27:00           30
3595  28-03-2017  21:28:00           30
3596  28-03-2017  21:28:00           30
3597  28-03-2017  21:28:00           30
3598  28-03-2017  21:28:00           30
3599  28-03-2017  21:28:00           29
3600  28-03-2017  21:28:00           30
3601  28-03-2017  21:28:00           30
3602  28-03-2017  21:28:00           30
3603  28-03-2017  21:28:00           30
3604  28-03-2017  21:28:00           30
3605  28-03-2017  21:28:00           30
3606  28-03-2017  21:28:00           30
3607  28-03-2017  21:28:00           30
3608  28-03-2017  21:28:00           30
3609  28-03-2017  21:28:00           30
3610  28-03-2017  21:28:00           30
3611  28-03-2017  21:28:00           30
3612  28-03-2017  21:28:00           30

[3613 rows x 3 columns]

In [27]:
data.plot()
plt.show()